<!DOCTYPE html>
<head>

<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
<title>  Моё хобби</title>
</head>
<body>
<div class="header">
        <div class="inner-header">
            <ul class="navigation">
                <a href="#"><li>Главная</li></a>
                <a href="about.html"><li>Обо мне</li></a>
                <a href="contacts.html"><li>Обратная связь</li></a>
            </ul>
            <div class="logo-container">
                <h1 class = "navigationp1"> Моё хобби </h1>
            </div>
        </div>
</div>

<div class="content">
    <p1 class="p1">Просмотр фильмов</p1>
    <hr class="p2">
    <p1 class="font-size170"><img src="https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/3c8e75d1-b8de-4404-a107-2eb71706c665/180" alt="Dune" class="leftimg"> Моё хобби — это просмотр фильмов, и мне это очень нравится. Я люблю смотреть разные жанры — драмы, триллеры, фантастику и комедии. Фильмы для меня — это возможность погрузиться в интересные истории, узнать что-то новое и познакомиться с разными героями. Мне нравится следить за сюжетом, оценивать актёрскую игру и работу режиссёра. Иногда фильмы заставляют задуматься, а иногда просто помогают отдохнуть. Это хобби помогает мне расслабиться, расширить кругозор и по-другому взглянуть на мир через истории персонажей.</p1>

</div>


</body>